name: Deploy Dist Folder
on: push
jobs:
    test: 
        runs-on: ubuntu-latest
        steps:
            - name: Get Code   
              uses: actions/checkout@v6
              # run: |
              #   echo "Cloning app"
              #   echo "${{toJson(github)}}"
              #   git clone https://github.com/${{github.repository}}.git myfiles
              #   cd myfiles && ls
            - name: setup node js
              uses: actions/setup-node@v6
              with:
                node-version: 22
            - name: print node version
              run: node -v
            - name: Install dependencies
              run: npm install
            - name: Run Tests
              run: npm run test
            - name: Completed job
              run: echo "Test hob was success"
                 